<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <netTcpBinding>
                <binding>
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IGenericInfoService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IAdminService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IWeatherService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_IKodiService">
                    <security mode="None" />
                </binding>
                <binding name="NetTcpBinding_ITestService">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="net.tcp://localhost:9091/GenericInfoService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGenericInfoService"
                contract="GenericInfoService.IGenericInfoService" name="NetTcpBinding_IGenericInfoService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9094/AdminService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IAdminService" contract="AdminService.IAdminService"
                name="NetTcpBinding_IAdminService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9093/WeatherService/"
                binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IWeatherService"
                contract="WeatherService.IWeatherService" name="NetTcpBinding_IWeatherService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9092/KodiService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IKodiService" contract="KodiService.IKodiService"
                name="NetTcpBinding_IKodiService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
            <endpoint address="net.tcp://localhost:9090/TestService/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_ITestService" contract="TestService.ITestService"
                name="NetTcpBinding_ITestService">
                <identity>
                    <dns value="localhost" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>