<?xml version="1.0" encoding="utf-8"?>
<configuration>

  <connectionStrings>
    <add name="BusinessRulesModel" connectionString="metadata=res://*/DB.BusinessRulesModel.csdl|res://*/DB.BusinessRulesModel.ssdl|res://*/DB.BusinessRulesModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;initial catalog=quadcondb;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>

  <system.serviceModel>
    
    <behaviors>
      <serviceBehaviors>
        <behavior name="">
          <serviceMetadata httpGetEnabled="False" httpsGetEnabled="False" />
          <serviceDebug includeExceptionDetailInFaults="False" />
          <useRequestHeadersForMetadataAddress />
        </behavior>
      </serviceBehaviors>
    </behaviors>

    <bindings>
      <netTcpBinding>
        <binding>
          <security mode="None"/>
        </binding>
      </netTcpBinding>
    </bindings>
    
    <services>
      <service name="Controller.Services.TestService">
        <endpoint address="" binding="netTcpBinding" contract="Controller.Services.ITestService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9090/TestService/" />
          </baseAddresses>
        </host>
      </service>      
      <service name="Controller.Services.GenericInfoService">
        <endpoint address="" binding="netTcpBinding" contract="Controller.Services.IGenericInfoService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9091/GenericInfoService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Controller.Services.KodiService">
        <endpoint address="" binding="netTcpBinding" contract="Controller.Services.IKodiService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9092/KodiService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Controller.Services.WeatherService">
        <endpoint address="" binding="netTcpBinding" contract="Controller.Services.IWeatherService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9093/WeatherService/" />
          </baseAddresses>
        </host>
      </service>
      <service name="Controller.Services.Admin.AdminService">
        <endpoint address="" binding="netTcpBinding" contract="Controller.Services.Admin.IAdminService">
          <identity>
            <dns value="localhost" />
          </identity>
        </endpoint>
        <endpoint address="mex" binding="mexTcpBinding" contract="IMetadataExchange" />
        <host>
          <baseAddresses>
            <add baseAddress="net.tcp://localhost:9094/AdminService/" />
          </baseAddresses>
        </host>
      </service>
    </services>
  </system.serviceModel>

</configuration>